body * {
  box-sizing: border-box;
  font-family: Lato;
  color: #2C3642;
}

#header {
  background-color: #252F3D;
}

#idea-theorem-header-logo {
  width: 294px;
}

#separator {
  display: none;
}

.form-header-container {
  width: 100%
}

.form-container {
  overflow: auto;
  width: 100%;
  box-shadow: 0px 4px 30px 0px #00000014;
  padding: 30px;
  border-radius: 8px
}

.button-container {
  width: 100%;
  text-align: center;
  padding: 20px;
}

.button-container button {
  width: 145px;
  margin: 10px;
  font-weight: 700;
  color: #127C95;
  border-color: #127C95;
}

.button-container .contained-btn {
  color: white;
  background-color: #127C95;
}

.input-labels {
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 10px;
}

@media only screen and (max-width: 600px) {
  #idea-theorem-header-logo {
    width: 148px;
  }

  .form-header-container {
    padding: 10px 30px 0px;
  }

  .form-container {
    box-shadow: none;
  }

  #separator {
    display: block;
  }

  .button-container {
    position: sticky;
    top: auto;
    bottom: 0;
    left: 0;
    z-index: 100;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px 4px #00000026;
  }

  .button-container button {
    width: -webkit-fill-available;
    /* margin: 10px; */
  }

}